body{
    background:linear-gradient(rgb(223, 170, 213), rgb(233, 216, 219));
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
h1{
    text-align: center;
    color: rgb(62, 11, 110);
    font-size: 2em;
    letter-spacing: 10px;
    text-shadow: 3px 3px 5px blueviolet;
}
/* 
    . -> llama class
    # -> llama id
 */
.violeta,h4{
    color: rgb(105, 34, 171);
}
h4{
    text-align: center;
}
.derecha{
    text-align: right;
}
.mujeres_pintoras{
    background-color: rgb(223, 107, 213);
    padding: 15px;
    border: 3px solid rgb(132, 0, 255);
    box-shadow: 20px 20px rgb(223, 23, 130);
}
.mujeres_pintoras p{
    color: rgb(71, 26, 112);
    text-align: justify;
    font-style: initial;
    font-weight: bolder;
}
h5{
    color: rgb(223, 23, 130);
    text-align: center;
}
div{
    border: 3px dashed rgb(255, 11, 198);
}
